<!DOCTYPE html>
<html>
    <head>
        <title>Audio scheduler</title>
    </head>
    <body>
        <style type="text/css">
            .sequencer button {
                height: 50px;
                width: 50px;
            }

            button:focus {
                outline: 0
            }

            .sequencer button.current {
                border-top: 1px solid red;
            }

            .sequencer button.isbar {
                border-top: 1px solid blue;
            }

            .sequencer button.active {
                background-color: #4d4d4d;
            }
        </style>
        <button id="start">start</button>
        <button id="stop">stop</button>

        <div class="sequencer"></div>

        <script src="js/index.js"></script>
        <script>
            document.querySelector('#start').onclick = function(){
                schedulerApp.start();
            };

            document.querySelector('#stop').onclick = function(){
                schedulerApp.stop();
            };

            var stepButtons = [];
            var kickButtons;
            var snareButtons;

            for(var i = 0; i < 16; i++){
                stepButtons.push('<button class="kick" id="'+i+'"></button>');
            }

            document.querySelector('.sequencer').innerHTML = stepButtons.join('');

            stepButtons = [];

            document.querySelector('.sequencer').appendChild(document.createElement('div'));

            for(var i = 0; i < 16; i++){
                stepButtons.push('<button class="snare" id="'+i+'"></button>');
            }

            document.querySelector('.sequencer').innerHTML += stepButtons.join('');

            kickButtons = document.querySelectorAll('.sequencer button.kick');
            snareButtons = document.querySelectorAll('.sequencer button.snare');

            for(var i = 0; i < stepButtons.length; i++){
                kickButtons[i].addEventListener('click', function(e){
                    e.target.classList.toggle('active');
                });

                snareButtons[i].addEventListener('click', function(e){
                    e.target.classList.toggle('active');
                });
            }

            schedulerApp.setOscGen(function(audioData){
                var currentStep = audioData.beatTime % 16,
                    soundsToPlay = [];

                for(var i = 0; i < stepButtons.length; i++){
                    kickButtons[i].classList.remove('current');
                    kickButtons[i].classList.remove('isbar');
                    snareButtons[i].classList.remove('current');
                    snareButtons[i].classList.remove('isbar');
                }

                kickButtons[currentStep].classList.add(currentStep % 4 === 0 ? 'isbar' :'current');

                if(kickButtons[currentStep].classList.contains('active')){
                    var kicker = audioData.context.createBufferSource();
                    kicker.buffer = kickbuffer;

                    soundsToPlay.push(kicker);
                }

                if(snareButtons[currentStep].classList.contains('active')){
                    var snarer = audioData.context.createBufferSource();
                    snarer.buffer = snarebuffer;

                    soundsToPlay.push(snarer);
                }

                return soundsToPlay;
            });

            var kickbuffer = null;

            function loadKick(context){
                var request = new XMLHttpRequest();

                request.open('GET', 'kick.wav', true);
                request.responseType = 'arraybuffer';

                request.onload = function(){
                    context.decodeAudioData(request.response, function(buffer){
                        kickbuffer = buffer;
                    });
                };

                request.send();
            }

            loadKick(schedulerApp.getContext());

            var snarebuffer = null;

            function loadSnare(context){
                var request = new XMLHttpRequest();

                request.open('GET', 'snare.wav', true);
                request.responseType = 'arraybuffer';

                request.onload = function(){
                    context.decodeAudioData(request.response, function(buffer){
                        snarebuffer = buffer;
                    });
                };

                request.send();
            }

            loadSnare(schedulerApp.getContext());
        </script>
    </body>
</html>
