<!DOCTYPE html>
<html>
    <head>
        <title>Audio scheduler</title>
    </head>
    <body>
        <style type="text/css">
            .sequencer button {
                height: 50px;
                width: 50px;
            }

            button:focus {
                outline: 0
            }

            .sequencer button.current {
                border-top: 1px solid red;
            }

            .sequencer button.isbar {
                border-top: 1px solid blue;
            }

            .sequencer button.active {
                background-color: #4d4d4d;
            }
        </style>
        <button id="start">start</button>
        <button id="stop">stop</button>

        <div class="sequencer"></div>

        <script src="js/scheduler.js"></script>
        <script src="js/audio.js"></script>
        <script>
            document.querySelector('#start').onclick = function(){
                schedulerApp.start();
            };

            document.querySelector('#stop').onclick = function(){
                schedulerApp.stop();
            };

            var stepButtons = [];
            var kickButtons;
            var snareButtons;
            var sounds = {};
            var buffers = {};

            for(var i = 0; i < 16; i++){
                stepButtons.push('<button class="kick" id="'+i+'"></button>');
            }

            document.querySelector('.sequencer').innerHTML = stepButtons.join('');

            stepButtons = [];

            document.querySelector('.sequencer').appendChild(document.createElement('div'));

            for(var i = 0; i < 16; i++){
                stepButtons.push('<button class="snare" id="'+i+'"></button>');
            }

            document.querySelector('.sequencer').innerHTML += stepButtons.join('');

            kickButtons = document.querySelectorAll('.sequencer button.kick');
            snareButtons = document.querySelectorAll('.sequencer button.snare');

            sounds.kick = kickButtons;
            sounds.snare = snareButtons;

            for(var i = 0; i < stepButtons.length; i++){
                kickButtons[i].addEventListener('click', function(e){
                    e.target.classList.toggle('active');
                });

                snareButtons[i].addEventListener('click', function(e){
                    e.target.classList.toggle('active');
                });
            }

            schedulerApp.setOscGen(function(audioData){
                var currentStep = audioData.beatTime % 16,
                    soundsToPlay = [];

                for(var i = 0; i < stepButtons.length; i++){
                    Object.keys(sounds).forEach(function(key){
                        sounds[key][i].classList.remove('current');
                        sounds[key][i].classList.remove('isbar');
                    });
                }

                sounds[Object.keys(sounds)[0]][currentStep].classList.add(currentStep % 4 === 0 ? 'isbar' :'current');

                Object.keys(sounds).forEach(function(key){
                    if(sounds[key][currentStep].classList.contains('active')){
                        var source = audioData.context.createBufferSource();
                        source.buffer = buffers[key];

                        soundsToPlay.push(source);
                    }
                });

                return soundsToPlay;
            });

            AudioHelpers.loadSoundFromUrl('kick.wav', function(buffer){
                buffers.kick = buffer;
            });

            AudioHelpers.loadSoundFromUrl('snare.wav', function(buffer){
                buffers.snare = buffer;
            });
        </script>
    </body>
</html>
