<!DOCTYPE html>
<html>
    <head>
        <title>Audio scheduler</title>
    </head>
    <body>
        <style type="text/css">
            .sequencer button {
                height: 50px;
                width: 50px;
            }

            button:focus {
                outline: 0
            }

            .sequencer button.active {
                background-color: #4d4d4d;
            }
        </style>
        <button id="start">start</button>
        <button id="stop">stop</button>

        <div class="sequencer"></div>

        <script src="index.js"></script>
        <script>
            document.querySelector('#start').onclick = function(){
                schedulerApp.start();
            };

            document.querySelector('#stop').onclick = function(){
                schedulerApp.stop();
            };

            var stepButtons = [];

            for(var i = 0; i < 16; i++){
                stepButtons.push('<button id="'+i+'"></button>');
            }

            document.querySelector('.sequencer').innerHTML = stepButtons.join('');

            stepButtons = document.querySelectorAll('.sequencer button')

            for(var i = 0; i < stepButtons.length; i++){
                stepButtons[i].addEventListener('click', function(e){
                    e.target.classList.toggle('active');
                });
            }

            schedulerApp.setOscGen(function(audioData){
                var currentStep = audioData.beatTime % 16;

                if(!stepButtons[currentStep].classList.contains('active')){
                    return null;
                }

                var osc = audioData.context.createOscillator();

                return osc;
            });
        </script>
    </body>
</html>
